<h1>Dinosaurs</h1>

<form action="/dinosaurs/<%  %> " method="GET">
    
    <label for="nameFilter">Filter by name:</label>
    <input type="text" name="nameFilter" id="nameFilter">

    <input type="submit" value="Search">
</form>

<ul>
    <% myDinos.forEach((dino, idx) => { %>
        
        <li>
            <a href="/dinosaurs/<%= idx %> ">
                <%= dino.name %> is a <%= dino.type %>
            </a>
        </li>

        <a href="/dinosaurs/edit/<%= idx %> ">Edit</a>

        <form method="POST" action="/dinosaurs/<%= idx %>/?_method=DELETE">
            <input type="submit" value="Delete Dino">
        </form>

    <% }); %>
</ul>