<h1>Dinosaurs</h1>

<ul>
    <% myDinos.forEach((dino, idx) => { %>
        
        <li>
            <a href="/dinosaurs/<%= idx %> ">
                <%= dino.name %> is a <%= dino.type %>
            </a>
        </li>

        <a href="/dinosaurs/edit/<%= idx %> ">Edit</a>

        <form method="POST" action="/dinosaurs/<%= idx %>/?_method=DELETE">
            <input type="submit" value="Delete Dino">
        </form>

    <% }); %>
</ul>